
{% extends 'base.html' %}
{% load static %}
{% load filters %}

{% block content %}
<main>

   <!-- breadcrumb area start -->
   <section class="breadcrumb__area include-bg pt-150 pb-150 breadcrumb__overlay" data-background="{% static '/img/breadcrumb/breadcrumb-bg-1.jpg' %}">
      <div class="container">
         <div class="row">
            <div class="col-xxl-12">
               <div class="breadcrumb__content text-center p-relative z-index-1">
                  <h3 class="breadcrumb__title">My Cart</h3>
                  <div class="breadcrumb__list">
                     <span><a href="{% url 'home' %}">Home</a></span>
                     <span class="dvdr"><i class="fa-regular fa-angle-right"></i></span>
                     <span>Cart</span>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- breadcrumb area end -->

   <!-- cart-area start -->
   <section class="cart-area pt-120 pb-120">
      <div class="container">
         <div class="row">
            <div class="col-12">
                  <form action="#" method="post">
                     {% csrf_token %}
                     <div class="table-content table-responsive">
                        <table class="table">
                              <thead>
                                 <tr>
                                    <th class="product-thumbnail">Images</th>
                                    <th class="cart-product-name">Course</th>
                                    <th class="product-price">Unit Price</th>
                                    <th class="product-subtotal">Total</th>
                                    <th class="product-remove">Remove</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 {% for course in cart_courses %}
                                 <tr>
                                    <td class="product-thumbnail"><a href="{{ course.get_absolute_url }}"><img src="{{ course.thumbnail.url }}" alt="{{ course.title }} image"></a></td>
                                    <td class="product-name"><a href="{{ course.get_absolute_url }}">{{ course.title }}</a></td>
                                    <td class="product-price"><span class="amount">{{ course.price|currency }}</span></td>
                                    <td class="product-subtotal"><span class="amount">{{ course.price|currency }}</span></td>
                                    <td class="product-remove">
                                       <a href="?course_id={{ course.id }}"><i class="fa fa-times"></i></a>
                                    </td>
                                 </tr>
                                 {% endfor %}

                              </tbody>
                        </table>
                     </div>
                     <div class="row">
                        <div class="col-12">
                              <div class="coupon-all">
                                 <div class="coupon">
                                    {% if cart_courses %}
                                    <input id="coupon_code" class="input-text" name="coupon_code" value="" placeholder="Coupon code" type="text" disabled>
                                    <button class="tp-btn" name="apply_coupon" formaction="{% url 'apply_coupon' %}" type="submit" disabled>Apply coupon</button>
                                    {% else %}
                                    <a href="{% url 'courses' %}" class="tp-btn">Explore our courses</a>
                                    {% endif %}
                                 </div>
                              </div>
                        </div>
                     </div>
                     <div class="row justify-content-end">
                        <div class="col-md-5">
                              <div class="cart-page-total">
                                 <h2>Cart total</h2>
                                 <ul class="mb-20">
                                    <li>Total <span>${{ cart_total|default:"0" }}</span></li>
                                 </ul>
                                 <a class="tp-btn" href="{% url 'checkout' %}">Proceed to checkout</a>
                              </div>
                        </div>
                     </div>
                  </form>
            </div>
         </div>
      </div>
   </section>
   <!-- cart-area end -->
</main>
{% endblock content %}