{% extends 'base.html' %}
{% load static %}

{% block content %}

<main>
   <!-- breadcrumb area start -->
   <section class="breadcrumb__area include-bg pt-150 pb-150 breadcrumb__overlay" data-background="{% static '/img/breadcrumb/breadcrumb-bg-1.jpg' %}">
      <div class="container">
         <div class="row">
            <div class="col-xxl-12">
               <div class="breadcrumb__content text-center p-relative z-index-1">
                  <h3 class="breadcrumb__title">Events</h3>
                  <div class="breadcrumb__list">
                     <span><a href="{% url 'home' %}">Home</a></span>
                     <span class="dvdr"><i class="fa-regular fa-angle-right"></i></span>
                     <span>Events</span>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- breadcrumb area end -->

   <!-- event area start -->
   <section class="event__area pt-115">
      <div class="container">
         <div class="row">
            <div class="col-xxl-12">
               <div class="section__title-wrapper-2 text-center mb-60">
                  <span class="section__title-pre-2">Featured Courses</span>
                  <h3 class="section__title-2">Join our upcoming events</h3>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-xxl-12">
               
               {% for event in events %}
               <div class="event__item white-bg mb-10 transition-3 p-relative d-lg-flex align-items-center justify-content-between">
                  <div class="event__left d-sm-flex align-items-center">
                     <div class="event__date">
                        <h4>{{ event.start_date|date:"d" }}</h4>
                        <p>{{ event.start_date|date:"F, Y" }}</p>
                     </div>
                     <div class="event__content">
                        <div class="event__meta">
                           <ul>
                              <li>
                                 <a href="#"><svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.49992 9.51253C9.72047 9.51253 10.7099 8.52308 10.7099 7.30253C10.7099 6.08198 9.72047 5.09253 8.49992 5.09253C7.27937 5.09253 6.28992 6.08198 6.28992 7.30253C6.28992 8.52308 7.27937 9.51253 8.49992 9.51253Z" stroke="#5F6160" stroke-width="1.5"/>
                                    <path d="M2.56416 6.01334C3.95958 -0.120822 13.0475 -0.113738 14.4358 6.02043C15.2504 9.61876 13.0121 12.6646 11.05 14.5488C9.62625 15.9229 7.37375 15.9229 5.94291 14.5488C3.98791 12.6646 1.74958 9.61168 2.56416 6.01334Z" stroke="#5F6160" stroke-width="1.5"/>
                                    </svg>
                                    {{ event.venue }}</a>
                              </li>
                           </ul>
                        </div>
                        <h3 class="event__title">
                           <a href="{{ event.get_absolute_url }}">{{ event.title }}</a>
                        </h3>

                        <div class="event__person">
                           <ul>
                              <li>
                                 <a href="{{ event.organiser.get_absolute_url }}">
                                    <img src="{{ event.organiser.avatar.url }}" alt="organiser">
                                    <img src="assets/img/event/event-person-2.jpg" alt="">
                                    <span>{{ event.organiser.name|title }}</span>
                                 </a>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="event__right d-sm-flex align-items-center">
                     <div class="event__time">
                        <span>
                           <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M13.75 7.50024C13.75 10.9502 10.95 13.7502 7.5 13.7502C4.05 13.7502 1.25 10.9502 1.25 7.50024C1.25 4.05024 4.05 1.25024 7.5 1.25024C10.95 1.25024 13.75 4.05024 13.75 7.50024Z" stroke="#258E46" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                              <path d="M9.8188 9.48735L7.8813 8.3311C7.5438 8.1311 7.2688 7.64985 7.2688 7.2561V4.6936" stroke="#258E46" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                           </svg>
                           {{ event.start_time|date:'P' }} - {{ event.end_time|date:'P' }}
                        </span>
                     </div>
                     <div class="event__more ml-30">
                        <a href="{{ event.get_absolute_url }}" class="tp-btn-5 tp-btn-7">View Event </a>
                     </div>
                  </div>
               </div>
               {% empty %}
                  <h3>No upcoming events ):</h3>
               {% endfor %}

            </div>
         </div>
      </div>
   </section>
   <!-- event area end -->

   <!-- team area start -->
   <section class="team__area pt-75 pb-85">
      <div class="container">
         <div class="row align-items-end">
            <div class="col-xxl-6 col-xl-6 col-lg-6">
               <div class="section__title-wrapper-2 mb-40">
                  <span class="section__title-pre-2">Top Instructors</span>
                  <h3 class="section__title-2">Become an Instructor</h3>
               </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6">
               <div class="team__wrapper mb-45 pl-70">
                  <p>Are you an expert in emerging technologies such as Machine Learning, Artitificial Intelligence and Blockchain? Join us as an instructor and help bring a difference with your skills.</p>
               </div>
            </div>
         </div>
         <div class="row">
            
            {% for t in course_teachers %}
            {% with tr=t.owner %}
            <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6">
               <div class="team__item text-center mb-40">
                  <div class="team__thumb">
                     <div class="team__shape">
                        <img src="{% static '/img/team/team-shape-1.png' %}" alt="">
                     </div>
                     <img src="{{ tr.avatar.url }}" alt="">
                     <div class="team__social transition-3">
                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                        <a href="#"><i class="fa-brands fa-pinterest-p"></i></a>
                     </div>
                  </div>
                  <div class="team__content">
                     <h3 class="team__title">
                        <a href="{{ tr.get_absolute_url }}">{{ tr.name|title }}</a>
                     </h3>
                     <span class="team__designation">{{ tr.designation }}</span>
                  </div>
               </div>
            </div>
            {% endwith %}
            {% endfor %}
         </div>
      </div>
   </section>
   <!-- team area end -->
</main>
{% endblock content %}